@model Application.ViewModels.SaveGenreViewModel

@{
    ViewData["Title"] = "Eliminar Genero";
}

<div class="row">
    <div class="col-6 offset-3 mt-4">
        <div class="card">
            <div class="card-header bg-dark text-light">
                <h4>¿Está seguro de que desea eliminar el genero @Model.Name?</h4>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Genres" asp-action="DeleteConfirmed">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a asp-controller="Genres" asp-action="Index" class="btn btn-dark">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>


